.main {
    border-radius: 20px;
    position: absolute;
    left: 8rem;
    right: 8rem;
    top: 6.5rem;
    bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.entry {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 40%;
    bottom: 1rem;
    border-radius: 20px;
    padding: 10px;
}

.titleEntry {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    margin: 0;
}

.input {
    text-align: left;
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: #000;
    padding: 30px;
    margin: 10px;
    height: 100%;
    resize: none;
    box-shadow: 2px 2px 2px 2px #808080;
}

.input:focus {
    outline: none;
}

.input:focus::placeholder {
    color: #0A3871;
}

.Btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.aluraEncoderBtn, .aluraDecoderBtn {
    border: none;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    width: 7rem;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.aluraEncoderBtn:hover, .aluraDecoderBtn:hover {
    background: transparent;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.out {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 60%;
    right: 1rem;
    bottom: 1rem;
    border-radius: 20px;
    padding: 10px;
}

.titleOut {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    margin: 0;
}

.output {
    font-family: "Roboto", sans-serif;
    outline: none;
    text-align: left;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    padding: 30px;
    margin: 10px;
    height: 100%;
    resize: none;
    box-shadow: 2px 2px 2px 2px #808080;
}

.copyBtn {
    margin-left: 38%;
    margin-top: 26px;
    border: none;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 7rem;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.copyBtn:hover {
    background: transparent;
    color: #0A3871;
    border: 1px solid #0A3871;
}

@media only screen and (max-width: 768px) {
    .main {
        left: 2rem;
        right: 2rem;
        top: 2rem;
        bottom: 2rem;
        flex-direction: column;
        padding: 20px;
    }
    
    .entry {
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    .out {
        height: 250px;
        top: 100%;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
    }

    .copyBtn {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .copyBtn {
        margin-left: 35%;
    }
}