.pagesBtns {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.caesarCipherBtn, .aluraEncoderBtn {
    border: none;
    background: transparent;
    border-bottom: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.caesarCipherBtn:hover, .aluraEncoderBtn:hover {
    color: #50a69f;
    border-bottom: 1px solid #50a69f;
}

.active {
    color: #7fa650;
    border-bottom: 1px solid #7fa650;
    cursor: not-allowed;
}

